<!-- ======= views/doctors_form.erb ======= -->
<h1>Doctor Form</h1>

<!-- clinic_id, name, speciality -->

<form  id="doctors_form" method="POST" action="/doctors">
    <div><label for="clinic_id">Clinic ID</label><input type="clinic_id" name="clinic_id" value="0771"></div>
    <div><label for="name">Name</label><input type="name" name="name" value="Michael"></div>
    <div><label for="speciality">Speciality</label><input type="speciality" name="speciality" value="Orthopedic"></div>
    <input type="submit" id="submit">
</form>
