<!-- ======= views/sign_in.erb ======= -->
<h1>Doctor Sign In</h1>

<!-- clinic_id, name -->

<form  id="doctor_sign_in" method="POST" action="/doctor_sign_in">
    <div><label for="clinic_id">Clinic ID</label><input type="clinic_id" name="clinic_id" value=""></div>
    <div><label for="name">Name</label><input type="name" name="name" value=""></div>
    <input type="submit" id="submit">
</form>
