<!-- ======= views/emr.erb ======= -->
<h1>EMR</h1>

<!-- diagnosis, prognosis -->

<form  id="emr_form" method="POST" action="/emr">
    <div><label for="diagnosis">Diagnosis</label><input type="diagnosis" name="diagnosis" value=""></div>
    <div><label for="prognosis">Prognosis</label><input type="prognosis" name="prognosis" value=""></div>
    <input type="submit" id="submit">
</form>
