<!-- ======= views/home.erb ======= -->

<h1>Welcome to Kaiser Permanente</h1>

<a href="/clinic_form">Register to Clinic</a><br>
<a href="/emr">Get an EMR</a><br>
<a href="/doctors_form">Register as a Doctor</a><br>
<a href="/patients_form">Register as a Patient</a><br>


<div id="gallery_container">
    <img src="images/springfield.jpeg" alt="springfield">
    <img src="images/tysons.jpg" alt="tysons">
    <img src="images/dc.jpeg" alt="dc">
</div>
