<!-- ======= views/patients_form.erb ======= -->
<h1>Patients Form</h1>

<!-- emr_id, firstname, lastname -->

<form  id="patient_form" method="POST" action="/patients">
    <div><label for="emr_id">EMR ID</label><input type="emr_id" name="emr_id" value="077356"></div>
    <div><label for="firstname">First Name</label><input type="firstname" name="firstname" value="Michael"></div>
    <div><label for="lastname">Last Name</label><input type="lastname" name="lastname" value="Perez"></div>
    <input type="submit" id="submit">
</form>
