body {
    background-color: grey;
    margin: 0;
}

/*====== Link Bar ====== */
/*#links {
    height: 50px;
    width: 100%;

}*/
#menu-container {
  width: 100%;
  height: 80px;
  /*background-color: blue;*/
}
.menu_item {
  position: relative;
  float: left;
  width: 110px;
  height: 40px;
  /*background-color: #ff7f00;*/
  margin: 20px 0 0 20px;
  text-align: center;
  font-size: 20px;
  color: black;
  text-decoration: none;
}
.menu_item:hover {
    color: white;
}
/* ====== Homepage ====== */
#homepage {
    text-align: center;
}
#account_log {
    text-align: right;
    margin-right: 20px;
    /*text-decoration: none;*/
}
#newUser {
    margin-top: 5px;
    margin-bottom: 5px;
}
/* ====== Gallery ====== */
#gallery_container {
    text-align: center;
}
